/* REAUSABLE STUFF */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
    
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;

}
.clearfix { zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


h3 {
    
    padding-bottom: 1rem;
}

h2 {
    font-size: 2.6rem;
    line-height: 1.5;
    padding: 0 10%;
} 

h1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.5;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 0 10%;
    font-weight: 300;
}

ul {
    margin-block-start: 0;
    padding-inline-start: 0;
}
/*--------------------------------------------- */
/*           REUSABLE COMPONENTS                */
/*--------------------------------------------- */

.row {
    max-width: 90%;
    margin: 0 auto;
    
}


.box {
    padding: 1%;
}

section {padding: 80px 0;}


.section-title {
    padding: 3rem 1rem 0;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
}

.section-text {
    font-size: 1.2rem;
    padding: 0 5%;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.divider {
        display: block;
        height: 2px;
        background-color: #ff1e03;
        content: " ";
        width: 100px;
        margin: 0 auto;
        margin-bottom: 2rem;
}

.divider-white {
    display: block;
    height: 2px;
    background-color: #fff;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-bottom: 2rem;
}



/*--------------------------------------------- */
/*                   NAV BAR                    */
/*--------------------------------------------- */


.logo {
    width: 6rem;
}

.nav-item {
    padding-right: 3.5rem;
    font-weight: 200;
}

.nav-item a:hover {
    border-bottom: 2px solid #27b897;
}

.navbar { padding: 0 0 0.2rem;}


/*--------------------------------------------- */
/*                   Servicios                  */
/*--------------------------------------------- */

#descripcion-servicios {
    padding: 7% 0;
}

.texto-servicios {
    padding: 10% 0 0;
    text-align: center;
}

/*--------------------------------------------- */
/*            SHOWCASE SERVICIOS                */
/*--------------------------------------------- */
#showcase-servicios {
    background-color: #fff;
    padding: 10% 0; 
}


.img-servicios img {
    padding-top:10%;
    width: 90%;
    height: 90%;
}

.desc-servicios h3 {
    text-align: center;
    padding-top: 20%;
    color: #204acf
}

.desc-servicios p{
    padding-top: 5%;
    text-align: center;
}



/*--------------------------------------------- */
/*                   FOOTER                     */
/*--------------------------------------------- */


footer {
    background-color: #333;
    padding: 40px;
    font-size: 75%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right
}

.footer-nav li, 
.social-links li {
    display: inline-block;
    margin-right: 20px;
}


.footer-nav li:last-child, 
.social-links li:last-child {
    margin: 0;
}

.footer-nav li a:link, 
.footer-nav li a:visited, 
.social-links li a:link, 
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.footer-nav li a:hover, 
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link, 
.social-links li a:visited {
    font-size: 140%;
}

.fa-facebook-f,
.fa-twitter,
.fa-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s
}

.fa-facebook-f:hover { color: #3b5998 }
.fa-twitter:hover { color: #00aced }
.fa-instagram:hover { color: #517fa4 }

.fa-heart{color:red;}

#footer-ds a:visited,
#footer-ds a:link {
    text-decoration: none;
    color: #ddd;
}

.footer li a:link, 
.footer li a:visited {
    font-size: 0.8rem;
    color: #ddd;
}

.footer-nav li a:hover {
    color: #27b897;
    transition: color 0.6s;


}


#footer-ds a:hover { 
    color: #00aced;
    transition: color 0.6s;
}


.footer-text{
    font-size: 0.5rem;
    color: #888;
    text-transform: uppercase;
    text-align: center;
}


#footer-ds {
    font-family: 'Dawning of a New Day', cursive;
    text-align: center;
    font-weight: 300;
    font-size: 1.5rem;
    color: #ddd;
    padding-bottom: 1rem;
}

.ds-heart {color: #ED1944}

